<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha38
4-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Sightings</title>
<div class="container-fluid">
<h1> Squirrel Sightings</h1>
</div>
</head>
<body>
<!-- Optional Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr
/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh
9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U0
2d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </br>
        <div class="container-fluid">
        <a href = "add" class="button--style-red"><button type="button" class="btn btn-primary">
        Add A Sighting</button></a>
        </div>
    </br>
        <div class="container-fluid">
        <a href = "stats" class="button--style-blue"><button type="button" class="btn btn-secondary">
        Sighting Statistics</button></a>
        </div>
    </br>
    	<div class="container-fluid">
        <a href = "map" class="button--style-green"><button type="button" class="btn btn-secondary">
        Map</button></a>
        </div>z
<div class="container-fluid">
<h1>List of Sightings</h1>
<h2>Click on Squirrel ID to edit sighting</h2>
<table border="2" width="600">
<tr>
<td>Squirrel ID</td>
<td>Date</td>
<td>Shift</td>
</tr>

{% for squirrel in all_sightings %}
<tr>
<td><a href = "{% url 'sightings:update' squirrel.unique_squirrel_id %}">{{ squirrel.unique_squirrel_id }}</a></td>
<td>{{ squirrel.Date }}</td>
<td>{{ squirrel.Shift }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
