<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha38
4-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<p class="container-fluid">
        <a href="{% url 'sightings:sightings' %}" class="button--style-red"><button type="button" class="btn btn-primary">
        Back to main page</button></a>
        </p>
</head>
<body>
<!-- Optional Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr
/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh
9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U0
2d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </br>
	<div class="container-fluid">
		<h1>Edit Sighting! </h1>
		</br>
		</br>
		<h2>Squirrel ID: {{squirrel_instance.unique_squirrel_id}}</h2>
	</div>

	<div class="container-fluid">
		{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
</body>
	<body>
		<form method="POST" class="form">
		{% csrf_token %}
		{% for field in form %}
			<div class="fieldWrapper">
				{{field.label_tag}} {{field}}
			</div>
		{% endfor %}
		<button type="submit" class="save btn btn-default">Update Sighting!</button>
		{% if success %}<p><strong>{{ success }}</strong></p>{% endif %}
		</form>
		<a href="{% url 'sightings:delete' squirrel_instance.unique_squirrel_id %}">Delete Sighting!</a>

	</body>
	</div>
</html>
